:host{
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-around;
}
span{
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 50%;
    &:hover{
        background-color: var(--light-black);
        cursor: pointer;
    } 
    
}
