<div class="container-grid">
  <div class="header">
    <div class="title">
      <span class="icon material-symbols-outlined"> trip_origin </span>
      <h3>Visão Geral</h3>
      <span class="icon material-symbols-outlined"> trip_origin </span>
    </div>
    <div class="notifications">
      <span class="icon material-symbols-outlined"> notifications </span>
      <span class="badge">5</span>
    </div>
    
  </div>
  <display-data 
  [transformer]="equipmentData" />
  <div class="section-two">
    <menu-button 
     />
    <line-chart />
  </div>
</div>
